.ant-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.ant-layout-content {
    flex: 1;
    padding: 24px;
    background: #fff;
    margin: 0 auto;
    min-height: calc(100vh - 104px);
}

.ant-layout-footer {
    height: 20px;
    padding: 0 50px 10px 50px;
}